*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.jks
*.keystore
node_modules/
dist/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs/Editors
.kotlin/
.vscode/

# Executables
*.exe
