<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://tizen.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets:tizen" id="http://yourdomain/IVIDS" version="1.0.0" viewmodes="maximized">
    <tizen:application id="http://yourdomain/IVIDS.IVIDS" package="http://yourdomain/IVIDS" required_version="2.3"/>
    <content src="gui/index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>IVIDS</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv"/>
</widget>
