<div class="logo">IVIDS</div>
<div class="nav-links" id="nav-links">
    <a href="#" class="nav-item focusable" data-route="home">
        <div class="nav-icon" style="-webkit-mask-image: url('images/home.svg'); mask-image: url('images/home.svg');">
        </div>
        <span data-i18n="nav.home">Home</span>
    </a>
    <a href="#" class="nav-item focusable" data-route="movies">
        <div class="nav-icon"
            style="-webkit-mask-image: url('images/movies.svg'); mask-image: url('images/movies.svg');">
        </div>
        <span data-i18n="nav.movies">Movies</span>
    </a>
    <a href="#" class="nav-item focusable" data-route="series">
        <div class="nav-icon"
            style="-webkit-mask-image: url('images/series.svg'); mask-image: url('images/series.svg');">
        </div>
        <span data-i18n="nav.series">Series</span>
    </a>
    <a href="#" class="nav-item focusable" data-route="livetv">
        <div class="nav-icon"
            style="-webkit-mask-image: url('images/livetv.svg'); mask-image: url('images/livetv.svg');">
        </div>
        <span data-i18n="nav.livetv">Live TV</span>
    </a>

    <a href="#" class="nav-item focusable" data-route="playlists">
        <div class="nav-icon"
            style="-webkit-mask-image: url('images/playlists.svg'); mask-image: url('images/playlists.svg');">
        </div>
        <span data-i18n="nav.playlists">Playlists</span>
    </a>
    <a href="#" class="nav-item focusable" data-route="search">
        <div class="nav-icon"
            style="-webkit-mask-image: url('images/search.svg'); mask-image: url('images/search.svg');">
        </div>
        <span data-i18n="nav.search">Search</span>
    </a>
</div>
<div class="nav-utilities">
    <a href="#" class="nav-item focusable" data-route="account" title="Account">
        <div class="nav-icon"
            style="-webkit-mask-image: url('images/account.svg'); mask-image: url('images/account.svg');">
        </div>
        <span data-i18n="nav.account">Account</span>
    </a>
    <a href="#" class="nav-item focusable" data-route="settings" title="Settings">
        <div class="nav-icon"
            style="-webkit-mask-image: url('images/settings.svg'); mask-image: url('images/settings.svg');">
        </div>
        <span data-i18n="nav.settings">Settings</span>
    </a>
</div>