<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:tizen="http://tizen.org/ns/widgets" 
        id="http://yourdomain.com/ivids" 
        version="1.0.0" 
        viewmodes="maximized">
    
    <!-- Tizen Application Configuration -->
    <tizen:application id="yourAppID.ivids" 
                       package="yourAppID" 
                       required_version="6.0"/>
    
    <!-- Main entry point -->
    <content src="index.html"/>
    
    <!-- Screen size support (1920x1080 Full HD) -->
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    
    <!-- App icon (create a 512x512px icon.png file) -->
    <icon src="icon.png"/>
    
    <!-- App metadata -->
    <name>IVIDS</name>
    <description>Video Streaming Application for Samsung Smart TV</description>
    <author href="http://yourdomain.com" email="your@email.com">Your Name</author>
    
    <!-- Target platform -->
    <tizen:profile name="tv-samsung"/>
    
    <!-- Required privileges -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    
    <!-- App settings -->
    <tizen:setting screen-orientation="landscape" 
                   context-menu="enable" 
                   background-support="disable" 
                   encryption="disable" 
                   install-location="auto"
                   hwkey-event="enable"/>
</widget>