<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="com.kenji.ivids"
        version="1.0.0"
        viewmode="maximized"
        defaultlocale="en-US">

    <!-- TV‑specific application declaration -->
    <tizen:application id="com.kenji.ivids"
                       package="com.kenji.ivids"
                       required_version="2.3"/>

    <!-- Entry point (relative to this config file) -->
    <content src="gui/index.html"/>

    <!-- Optional icon (144×144 PNG) -->
    <icon src="icon.png"/>

    <name>IVIDS</name>

    <!-- TV profile -->
    <tizen:profile name="tv"/>

    <!-- Required privileges -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/media"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
</widget>